span.text-blue{
    color:blueviolet;
}
h1.myName{
    font-size:50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.description {
    display: table;
    clear: both;
    margin-left: 8%;
}
.name-image {
    float: left;
    width: 50%;
}
.name-image img {
    width: 320px;
    margin-left: 12em;
}
.about-me-column{
    border: 1px solid;
    width: 30.33%;
    float: left;
    border-style: hidden;
    height: 300px;
}
.about-me {
    content: "";
  display:table;
  clear:both;
  background-color: darkgrey;
}
.text-center{
    text-align: center;
}
