span.text-blue{
    color:blueviolet;
}
h1.myName{
    font-size:50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.description {
    display: table;
    clear: both;
    margin-left: 8%;
}
.name-image {
    float: left;
    width: 50%;
}
.name-image img {
    width: 320px;
    margin-left: 12em;
}
.about-me-column{
    border: 1px solid;
    width: 30.33%;
    float: left;
    border-style: hidden;
    height: 300px;
    color: Silver;
    text-align: center;
}
.about-me-column ol {
    text-align: justify;

}
.about-me {
    content: "";
  display:table;
  clear:both;
  background-color:#282C35;
}
.text-center{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: silver;
}
ul li {
    display: inline;
    clear: both;
}
a.phone {
    float: right;
    margin-right: 90px;
}
a.mail {
    float: left;
    margin-left: 95px;
}
ul li a {
    text-decoration: none;
}
